@font-face {
  src: url(../assets/JosefinSans-Regular.ttf);
  font-family: "Josefin";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 99vw;
}

/*estilos compartidos*/
header {
  padding-bottom: 10px;
}

.fondo {
  background-image: url("../images/fondo-form-dark.png");
}

.contenedor-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.contenedor-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.estilo-neon {
  font-family: "Josefin";
  margin: 2px;
  background-color: rgba(17, 17, 17, 0.705);
  text-align: center;
  color: bisque;
  width: 30%;
  border: 1px solid rgba(128, 128, 128, 0.788);
  border-radius: 5px;
  box-shadow: 2px 2px 5px white;
}

.parrafo {
  font-family: "Josefin";
  margin: 2px 1%;
  background-color: rgba(17, 17, 17, 0.705);
  text-align: center;
  color: bisque;
  border: 1px solid rgba(128, 128, 128, 0.788);
  border-radius: 5px;
  box-shadow: 2px 2px 5px white;
}

.card {
  width: 100%;
  color: bisque;
  background-color: rgba(0, 0, 0, 0.459);
  max-height: 70vh;
  min-height: 70vh;
  overflow: hidden;
}
.card:hover {
  box-shadow: 2px 2px 5px white;
}

.card-img-top {
  object-fit: cover;
  min-height: 35vh;
  height: 35vh;
}

.card-title {
  text-align: center;
}

.card-text {
  font-family: "Josefin";
  font-size: small;
  height: 30vh;
  overflow: hidden;
}

.separador {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 14vh;
  padding-bottom: 2vh;
}

.separador-top {
  padding-top: 1vh;
}

/*barra de navegacion*/
.navegacion {
  padding-bottom: 30px;
}

.hamburguesa {
  font-size: 30px;
  font-family: "Josefin";
  padding: 0px;
}

.titulo-header {
  font-family: "Josefin";
  font-size: 30px;
}

.titulo-menunav {
  font-family: "Josefin";
  font-size: 15px;
}

.cuervo {
  margin: 10px;
  border-style: solid;
  border-radius: 50%;
  border-color: black;
  border-width: 1px;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.bandera-nav {
  margin: 10px;
  border-style: solid;
  border-radius: 5%;
  border-color: black;
  border-width: 1px;
  width: 100px;
  height: 50px;
  display: inline-block;
}

/*inicio*/
.card-club {
  height: 40%;
}

.card-group > div {
  margin-top: 95px;
  padding: 2px;
}

.videoindex {
  border: none;
  background-color: bisque;
  width: 100%;
  height: 300px;
  padding: 0%;
}

/*el club*/
.contenedor-bandera {
  display: grid;
  grid-template-columns: 4, 1fr;
  grid-template-rows: auto;
  grid-template-areas: "h-bandera    h-bandera         h-historia1    h-historia1" "h-bandera    h-bandera         h-historia1    h-historia1";
  width: 100%;
  height: 600px;
}

.h-bandera {
  grid-area: h-bandera;
  width: 100%;
  height: 100%;
}
.h-bandera img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.h-historia1 {
  display: flex;
  flex-direction: column;
  grid-area: h-historia1;
  width: auto;
  align-content: center;
}

.h-historia2 {
  grid-area: h-historia2;
  width: auto;
}

/*futbol*/
/*la gloriosa*/
.separador-tarjetas {
  padding: 13vh 1vh 0 1vw;
}

.tarjeta-gloriosa {
  max-width: 25%;
  height: 100%;
}

.card-body a {
  background-color: rgba(128, 128, 128, 0.788);
  border-top: none;
  border-left: none;
  border-right: solid 2px white;
  border-bottom: solid 2px white;
}
.card-body a:hover {
  background-color: rgba(128, 128, 128, 0.788);
  border: none;
}

.tarjeta-gloriosa img {
  object-fit: cover;
  max-height: 50%;
}

.neon-w100 {
  font-family: "Josefin";
  margin: 2px;
  background-color: rgba(17, 17, 17, 0.705);
  text-align: center;
  color: bisque;
  border: 1px solid rgba(128, 128, 128, 0.788);
  border-radius: 5px;
  box-shadow: 2px 2px 5px white;
}

/*---contacto---*/
.titulo-contacto {
  font-size: 25px;
  padding: 10px;
}

.parrafo-contacto {
  font-size: 15px;
  padding: 10px;
}

.formulario {
  width: 55%;
  height: 30%;
  background-position: top center;
  margin: 1px auto;
  padding: 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.formulario label {
  font-family: "Josefin";
  color: bisque;
  font-weight: lighter;
  display: block;
  box-shadow: 2px 2px 5px white;
  border-radius: 5px;
}
.formulario input {
  color: bisque;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.788);
  border-radius: 5px;
  box-shadow: 2px 2px 5px white;
  background-color: transparent;
}
.formulario textarea {
  color: bisque;
  border: 1px solid rgba(128, 128, 128, 0.788);
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 2px 2px 5px white;
}
.formulario button {
  margin-top: 2px;
  background-color: rgba(128, 128, 128, 0.788);
  border: 1px solid rgba(128, 128, 128, 0.788);
  border-radius: 5px;
  box-shadow: 2px 2px 5px white;
  align-items: center;
  color: bisque;
}

/*footer*/
.footer {
  display: flex;
  justify-content: center;
  font-family: "Josefin";
  margin: 2px;
  background-color: rgba(17, 17, 17, 0.705);
  text-align: center;
  color: bisque;
  font-size: medium;
  width: 97%;
  border: 1px solid rgba(128, 128, 128, 0.788);
  border-radius: 5px;
  box-shadow: 2px 2px 5px white;
  padding-left: 1px;
  padding-top: 5px;
}

/*responsive*/
@media (max-width: 580px) {
  .card-club {
    height: 70%;
  }
  .estilo-neon {
    width: 90%;
  }
  .contenedor-inicio {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 790) {
  .d-flex {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
