/*font-family:  prompt, sans-serif, Arial, Helvetica;*/

@font-face {
    font-family: "Prompt";
    src: url(../assets/Prompt-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding-bottom: 10px;
}


.contenedor-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.estilo-neon{
    font-family: "Prompt", sans-serif, Arial, Helvetica;
    margin: 2px;
    background-color: rgba(17, 17, 17, 0.705);
    text-align: center;
    color: bisque;
    width: 30%;
    border: 1px solid rgba(128, 128, 128, 0.788);
    border-radius: 5px;
    box-shadow: 2px 2px 5px white;
}

/*barra de navegacion*/
.navegacion {
    padding-bottom: 30px;
    background-color: #ea2731;
}

.hamburguesa {
    font-size: 30px;
    font-family: "Prompt";
    padding: 0px;
    background-color: #2a4664;
}

.titulo-header {
    font-family: "Prompt";
    font-size: 30px;
}

.titulo-menunav {
    font-family: "Prompt";
    font-size: 15px;
}



/*futbol*/
.contenedor-profesional {
    display: grid;
    width: 100%;
    height: 95vh;
    padding-top: 86px;
    flex-wrap: nowrap;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5% 23% 23% 23% 23%;
    grid-template-areas:
        ".........  profesion   profesion       ........."
        "campeon33  campeon36   campeon46       campeon59"
        "campeon68  campeon72m  campeon72n      campeon74"
        "campeon95  campeon01   mercosur        sudamericana"
        "campeon07  campeon13   libertadores    supercopa";
}

.profesion {
    grid-area: profesion;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.campeon33 {
    grid-area: campeon33;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



.campeon36 {
    grid-area: campeon36;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.campeon46 {
    grid-area: campeon46;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.campeon59 {
    grid-area: campeon59;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.campeon68 {
    grid-area: campeon68;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}

.campeon72m {
    grid-area: campeon72m;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}

.campeon72n {
    grid-area: campeon72n;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
    align-items: center;
}

.campeon74 {
    grid-area: campeon74;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campeon95 {
    grid-area: campeon95;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campeon01 {
    grid-area: campeon01;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mercosur {
    grid-area: mercosur;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sudamericana {
    grid-area: sudamericana;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campeon07 {
    grid-area: campeon07;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campeon13 {
    grid-area: campeon13;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.libertadores {
    grid-area: libertadores;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.supercopa {
    grid-area: supercopa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}


.separador {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 13vh;
    padding-bottom: 2vh;
}

.separador-top{
    padding-top: 1vh;
}

.separador-tarjetas_futbol{
    padding: 13vh 1vh 0 1vw;
}

.card{
    max-height: 70vh;
    min-height: 70vh;
    overflow: hidden;
}


.card:hover{
    box-shadow: 2px 2px 5px white;
}
.card-img-top {
    object-fit: cover;
    min-height: 35vh;
    height: 35vh;
}

.card-text {
    height: 30vh;
    overflow: hidden;
}

/*la gloriosa*/

.tarjeta-gloriosa{
    max-width: 25%;
    height: 100%;
}

.card-text{
    font-family: "Prompt";
    height: 30%;
}

.card-body a {
    background-color:rgba(128, 128, 128, 0.788);
    border-top:none;
    border-left:none;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
}

.card-body a:hover{
    background-color:rgba(128, 128, 128, 0.788);
    border:none;
}

.tarjeta-gloriosa img{
    object-fit: cover;
    max-height: 50%;
}

.subtitulo {
    background-color: rgba(17, 17, 17, 0.705);
    border-radius: 3px;
    border: #fdfdfea9 solid;
    font-family: "Prompt", sans-serif, Arial, Helvetica;
    font-size: 20px;
    text-align: center;
    color: bisque;
    width: 30%;
}

.parrafo {
    font-family: "Prompt", sans-serif, Arial, Helvetica;
    margin: 2px;
    background-color: rgba(17, 17, 17, 0.705);
    text-align: center;
    color: bisque;
    border: 1px solid rgba(128, 128, 128, 0.788);
    border-radius: 5px;
    box-shadow: 2px 2px 5px white;
}

.neon-w100{
    font-family: "Prompt", sans-serif, Arial, Helvetica;
    margin: 2px;
    background-color: rgba(17, 17, 17, 0.705);
    text-align: center;
    color: bisque;
    border: 1px solid rgba(128, 128, 128, 0.788);
    border-radius: 5px;
    box-shadow: 2px 2px 5px white;
}

.cuervo {
    margin: 10px;
    border-style: solid;
    border-radius: 50%;
    border-color: black;
    border-width: 1px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.card-group>div {
    margin-top: 95px;
    padding: 2px;

}


.card {
    width: 100%;
    color: bisque;
    background-color: rgba(0, 0, 0, 0.459) ;
}




.videoindex {
    border: none;
    background-color: bisque;
    width: 100%;
    height: 300px;
    padding: 0%;
}

/*el club*/

.carousel-inner, .carousel-item, .carousel-item img{
    height: 400px;
    min-height: 30vh;
    object-fit: cover;
    border-radius: 5px;
    padding-left: 10px;
}

.carousel-inner{
    width: 50%;
    justify-content: center;
}


.contenedor_club {
    display: grid;
    width: 100%;
    height: 95vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "hijo1  hijo3"
        "hijo2  hijo3";
    gap: 1vh 1vh;
}
.fundacion{
    width: 100%;
}

.hijo {
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

.hijo1{
    grid-area: hijo1;
    align-self: stretch;
    max-height: 65vh;
    border-radius: 5px;
}

.hijo2 {
    grid-area: hijo2;
    align-self: stretch;
    max-height: 65vh;
}

.hijo3 {
    grid-area: hijo3;
    padding-right: 0.5vw;
    height: 80vh;
}

.gasometros {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/*---contacto---*/

.fondo {
    background-image: url("../images/fondo-form-dark.png");
}


.titulo-contacto {
    font-size: 25px;
    padding: 10px;   
}

.parrafo-contacto {
    font-size: 15px;
    padding: 10px;
}

.formulario {
    width: 55%;
    height: 30%;
    background-position: top center;
    margin: 1px auto;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}


.formulario label {
    font-family: "Prompt", sans-serif, Arial, Helvetica;
    color: bisque;
    font-weight: lighter;
    display: block;
    box-shadow: 2px 2px 5px white;
    border-radius: 5px;
}

.formulario input {
    color: bisque;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.788);
    border-radius: 5px;
    box-shadow: 2px 2px 5px white;
    background-color: transparent;
}

.formulario textarea {
    color: bisque;
    border: 1px solid rgba(128, 128, 128, 0.788);
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 2px 2px 5px white;

}

.formulario button {
    margin-top: 2px;
    background-color: rgba(128, 128, 128, 0.788);
    border: 1px solid rgba(128, 128, 128, 0.788);
    border-radius: 5px;
    box-shadow: 2px 2px 5px white;
    align-items: center;
    color: bisque;
}




.footer {
    font-family: "Prompt", sans-serif, Arial, Helvetica;
    margin: 2px;
    background-color: rgba(17, 17, 17, 0.705);
    text-align: center;
    color: bisque;
    font-size:medium;
    width:100vw;
    border: 1px solid rgba(128, 128, 128, 0.788);
    border-radius: 5px;
    box-shadow: 2px 2px 5px white;
    padding-left: 1px;
    padding-top: 5px;
}

.grid-body{
    display: grid;
    grid-template-columns: 1 , 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "h-nav"
        "h-main"
        "h-footer";
}
.h-nav{
    grid-area: h-nav;
}

.h-main{
    grid-area: h-main;
}

.h-footer{
    grid-area: h-footer;
}

/*@media (max-width:400px){
    .titulo-contacto{
        font-size: 17px;
    }

    .parrafo-contacto{
        font-size: 8px;
    }

    .titulo-header {
        font-size: 20px;
    }

    .subtitulo{
        font-size: 15px;
    }

    .formulario label {
        font-size: 10px;
    }

}*/

/*@media (max-width:750px){
    .estilo-neon{
        width: 80vw;
    }
    .formulario label{
        width: 80%;
    }
}*/