header{
    padding-bottom: 10px;
}

.fondo {
    background-image: url("../images/fondo-form-dark.png");
}

.contenedor-flex{
    @include cont-flex(column,wrap,center, center, center);
}

.contenedor-flex-row{
    @include cont-flex(row,nowrap,center,center,center);
}

.estilo-neon{
    @extend .neon-w100;
    width: 30%;
    
}

.parrafo {
    font-family: $main-font;
    margin: 2px 1%;
    @include sombra(2px 2px 5px white, 5px,bisque,rgba(17, 17, 17, 0.705));
    text-align: center;
    color: bisque;
    border: 1px solid rgba(128, 128, 128, 0.788);
}


.card{
    width: 100%;
    color: #ffe5c4;
    background-color: $fondo-tarjetas;
    max-height: 70vh;
    min-height: 70vh;
    overflow: hidden;
    transition: transform 1s;
    &:hover{
        box-shadow: 2px 2px 5px white;
        transform: scale(1.2);
        z-index: 100;
        background-color:$fondo-tarjetas-hover;
        }
    }


.card-img-top {
    object-fit: cover;
    min-height: 35vh;
    height: 35vh;
}

.card-title{
    text-align: center;
}

.card-text {
    font-family: $main-font;
    font-size: small;
    height: 30vh;
    overflow: hidden;
}

.separador {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 14vh;
    padding-bottom: 2vh;
}

.separador-top{
    padding-top: 1vh;
}