.titulo-contacto {
    font-size: 25px;
    padding-top: 10px;   
}

.parrafo-contacto {
    font-size: 15px;
    padding: 10px;
}

.formulario {
    width: 55%;
    height: 30%;
    background-position: top center;
    margin: 1px auto;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    label{
        color:white;
        font-family: $main-font;
        font-weight: lighter;
        display: block;
    }
    input {
        @include sombra (2px 2px 5px white, 5px, bisque, white);
        width: 100%;
    }
    textarea {
        @include sombra (2px 2px 5px white, 5px, bisque, white);
        border: 1px solid $gris-translucido;
    }
    button {
        @include sombra (2px 2px 5px white, 5px, bisque,$gris-translucido );
        margin-top: 2px;
        background-color: $gris-translucido;
        border: 1px solid $gris-translucido;
        align-items: center;

    }

}
