.title-bandera{
    font-family: $main-font ;
    padding-bottom: 5px;
    font-size: calc(1.375rem + 1.5vw);
    }
    

.contenedor-bandera{
    display: grid;
    gap:5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "h-bandera  h-historia1";
    width: 100%;
    .h-bandera{
        grid-area: h-bandera;
        width: 100%;
        align-self:flex-start;
        img{
            width: 100%;
            min-width: 50vw;
            height: 100%;
            border-radius: 5px;
            object-fit: cover;
        }
    }
    .h-historia1{
        display: flex;
        flex-direction: column;
        grid-area: h-historia1;
        width: auto;
        align-content: center;
    }
}

