.contenedor-bandera{
    display: grid;
    grid-template-columns: 1,1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "h-bandera    h-bandera         h-historia1    h-historia1"
        "h-bandera    h-bandera         h-historia1    h-historia1";
    width: 100%;
    .h-bandera{
        grid-area: h-bandera;
        width: 100%;
        img{
            width: 100%;
            min-width: 50vw;
            height: 70vh;
            border-radius: 5px;
        }
    }
    .h-historia1{
        display: flex;
        flex-direction: column;
        grid-area: h-historia1;
        width: auto;
        align-content: center;
    }
}






