.card-club{
    height: 40%;
}


.card-group>div {
    margin-top: 95px;
    padding: 2px;
}

.videoindex {
    border: none;
    background-color: bisque;
    width: 100%;
    height: 300px;
    padding: 0%;
}