.separador-tarjetas{
    padding: 13vh 1vh 0 1vw;
}

.tarjeta-gloriosa{
    max-width: 25%;
    height: 100%;
    img{
        object-fit: cover;
        max-height: 50%;
    }
}

.card-body a {
    background-color:rgba(128, 128, 128, 0.788);
    border-top:none;
    border-left:none;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    &:hover{
        background-color:rgba(128, 128, 128, 0.788);
        border:none;
    }
}


