@media (max-width:580px){
    .card-club{
        height: 70%;
    }
    
    .estilo-neon{
        width: 90%;
    }

    .contenedor-inicio{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:790){
    .d-flex{
        flex-direction: column;
        flex-wrap: wrap;
    }
}