.footer {
    display: flex;
    justify-content: center;
    font-family: $main-font;
    margin: 2px;
    background-color: rgba(17, 17, 17, 0.705);
    text-align: center;
    color: bisque;
    font-size:medium;
    width:97%;
    border: 1px solid rgba(128, 128, 128, 0.788);
    border-radius: 5px;
    box-shadow: 2px 2px 5px white;
    padding-left: 1px;
    padding-top: 5px;
}