.navegacion {
    padding-bottom: 30px;
    background-color: #ea2731;
}

.hamburguesa {
    font-size: 30px;
    font-family: "Prompt";
    padding: 0px;
}

.titulo-header {
    font-family: "Prompt";
    font-size: 30px;
}

.titulo-menunav {
    font-family: "Prompt";
    font-size: 15px;
}

.cuervo {
    margin: 10px;
    border-style: solid;
    border-radius: 50%;
    border-color: black;
    border-width: 1px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.bandera-nav{
    margin: 10px;
    border-style: solid;
    border-radius: 5%;
    border-color: black;
    border-width: 1px;
    width: 100px;
    height: 50px;
    display: inline-block;
}