@font-face {
    src: url(../assets/JosefinSans-Regular.ttf);
    font-family: "Josefin";
    font-display: swap;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 99vw;
}

