//extend
.neon-w100{
    font-family: $main-font;
    margin: 2px;
    background-color: rgba(17, 17, 17, 0.705);
    text-align: center;
    color: bisque;
    border: 1px solid $gris-translucido;
    border-radius: 5px;
    box-shadow: 2px 2px 5px white;
    padding-top: 5px;
}

//mixin
@mixin cont-flex ($direction,$wrap,$justify,$acontent,$aitem){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-content: $acontent;
    align-items: $aitem;
}

@mixin sombra ($shadow, $radius, $color, $back){
    box-shadow: $shadow;
    border-radius: $radius;
    color: $color;
    background-color:$back;
}