$main-font: "Josefin";
$fondo: url("../images/fondo-form-dark.png");
$fondo-tarjetas:rgba(0, 0, 0, 0.459);
$fondo-tarjetas-hover:rgba(0, 0, 0, 0.863);
$internacional: #daa520;
$gris-translucido:rgba(128, 128, 128, 0.788);
$boton-tarjeta:rgba(128, 128, 128, 0.788);